#edit-page {
	.section-edit-info {
		padding: 30px 0 60px 0;
		.link-back {
			a {
				text-decoration: underline;
				@include text($blue, 16px);
				i {
					margin-right: 10px;
				}
			}
		}
		.form-container {
			.col-6 {
				&:first-child {
					.form-group {
						margin: 0 auto 10px 0;
					}
				}
				&:last-child {
					.form-group {
						margin: 0 0 10px auto;
					}
				}
			}
			.form-group {
				text-align: left;
				margin-bottom: 10px;
			}
			.btn-custom {
				margin-top: 30px;
				width: 100%;
				max-width: 160px;
			}
		}
	}
	.section-health-table {
		padding-bottom: 80px;
		.table {
			p {
				text-align: center;
				margin-bottom: 0;
				@include text($black, 16px, 300);
				opacity: 0.4;
				font-style: italic;
				a {
					color: $blue;
					text-decoration: underline;
				}

			}
			thead {
				background: linear-gradient(270deg, #32c8fa 0%, #587de4 100%);
				tr {
					th {
						vertical-align: middle;
						text-align: center;
						color: $white;
					}
				}
			}
			tbody {
				tr {
					td {
						text-align: center;
						vertical-align: middle;
						.form-group {
							margin-bottom: 0;
							.select-wrapper {
								position: relative;
								&:before {
									transform: translateY(-50%);
									content: '';
									width: 0;
									height: 0;
									border-left: 5px solid transparent;
									border-right: 5px solid transparent;
									border-top: 5px solid $black;
									@include pos(50%, 10px, auto, auto);
								}
								select {
									-webkit-appearance: none;
									padding: 7px 25px 7px 15px;
								}
							}
							textarea {
								height: auto;
								margin-bottom: 0;
							}
						}
						.btn-delete {
							padding: 0;
							background-color: transparent;
							border: none;
							color: $blue;
							font-size: 20px;
						}
					}
				}
			}
		}
		.btn-row {
			padding-top: 15px;
			@include flex(row, center, center);
			.btn-custom {
				width: 100%;
				max-width: 160px;
			}
		}
	}
}