#diaryPage {
	.section-info {
		padding: 60px 0;
		.title {
			text-align: center;
			margin-bottom: 30px;
			@include text($black, 48px, 700);
		}
		.text {
			margin-bottom: 40px;
			@include text(#828282, 14px, 400, 2);
		}
		.btn-box {
			@include flex(row, center, center);
			.btn-custom {
				width: 100%;
				max-width: 200px;
				margin: 0 auto;
			}
		}
	}
	.section-services {
		padding-bottom: 80px;
		.sub-title {
			text-align: center;
			margin-bottom: 40px;
			@include text($black, 48px, 700);
		}
		.form-container {
			max-width: 450px;
			margin: 0 auto;
			.form-group {
				max-width: 100%;
				.select-wrapper {
					position: relative;
					&:before {
						transform: translateY(-50%);
						content: '';
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 5px solid $black;
						@include pos(50%, 10px, auto, auto);
					}
					select {
						-webkit-appearance: none;
					}
				}
				.btn-custom {
					max-width: 200px;
				}
			}
		}
	}
}