.section-header {
	position: relative;
	padding: 160px 0 140px;
	background-color: #f0f4f8;
	.container {
		position: relative;
		z-index: 1;
	}
	img {
		@include pos(0, 0, auto, auto);
		width: auto;
		height: 410px;
		z-index: 0;
	}
	.title {
		@include text($black, 48px, 600);
		margin-bottom: 0;
	}
	.breadcrumps-box {
		@include text(#828282, 14px);
		a {
			color: inherit;
			font-size: inherit;
			&.selected {
				color: $blue;
			}
		}
	}
}